@font-face {
  font-family: "Hevetica Neue";
  src: url("HelveticaNeue/HelveticaNeue.ttf") format("truetype");
}
@font-face {
  font-family: "Hevetica Neue Light";
  src: url("HelveticaNeue/HelveticaNeueLight.ttf") format("truetype");
}
@font-face {
  font-family: "Hevetica Neue Bold";
  src: url("HelveticaNeue/HelveticaNeueBold.ttf") format("truetype");
}
@font-face {
  font-family: "Hevetica Neue Bold Italic";
  src: url("HelveticaNeue/HelveticaNeueBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Hevetica Neue Italic";
  src: url("HelveticaNeue/HelveticaNeueItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Hevetica Neue Light Italic";
  src: url("HelveticaNeue/HelveticaNeueLightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Hevetica Neue Medium";
  src: url("HelveticaNeue/HelveticaNeueMedium.ttf") format("truetype");
}
@font-face {
  font-family: "Hevetica Neue Ultra Light";
  src: url("HelveticaNeue/HelveticaNeueUltraLight.ttf") format("truetype");
}
@font-face {
  font-family: "Hevetica Neue Ultra Light Italic";
  src: url("HelveticaNeue/HelveticaNeueUltraLightItalic.ttf") format("truetype");
}