body {
	font-family: "HelveticaNeue", Helvetica, sans-serif;
	text-align: left;
	color: #333333;
	font-size: 16px;
	-moz-box-sizing: border-box;
    box-sizing: border-box;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.pull-bottom div:last-child {
	margin-top: 19px;
}

h1 {
	font-size: 3em;
	font-family: "HelveticaNeue-CondensedBold", Helvetica, sans-serif;
}

h2 {
	font-size: 2.2em;
	font-family: "HelveticaNeue-CondensedBold", Helvetica, sans-serif;
}

h3 {
	font-size: 1.6em;
	font-family: "HelveticaNeue-CondensedBold", Helvetica, sans-serif;
}

h4 {
	font-size: 1em;
	font-family: "HelveticaNeue-BoldItalic", Helvetica, sans-serif;
}

h5 {
	font-size: .9em;
	font-family: "HelveticaNeue-Bold", Helvetica, sans-serif;
}

h6 {
	font-size: .9em;
	font-family: "HelveticaNeue-CondensedBold", Helvetica, sans-serif;
	color: #999999;
}

ul.noindent {
    margin: 0;
    padding: 0;
}

ul {
	list-style: none;
}

header {
	background-color: #333333;
	color: #ffffff;
	text-align: center;
	font-size: 2em;
}

header #name {
	padding: 75px 0;
}

header #name .first {
	font-family: "HelveticaNeue-Light", Helvetica, sans-serif;
}

header #name .middle {
	font-family: "HelveticaNeue-UltraLight", Helvetica, sans-serif;
}

header #name .last {
	font-family: "HelveticaNeue-CondensedBold", Helvetica, sans-serif;
}

nav {
	text-align: center;
	font-size: 1.5em;
	position: fixed;
}

nav a, nav a:hover, nav a:focus {
	font-family: "HelveticaNeue-CondensedBold", Helvetica, sans-serif;
	text-decoration: none;
}

nav ul li {
	display: inline-block;
	padding: 5px 20px 10px;
}

nav ul li.experience {
	border-top: 4px solid #6CE0F1;
}

nav ul li.achievements {
	border-top: 4px solid #FB4485;
}

nav ul li.skills {
	border-top: 4px solid #FDA333;
}

nav ul li.education {
	border-top: 4px solid #C2E15F;
}

nav ul li.experience:hover {
	background-color: #6CE0F1;
}

#experience h2:first-letter {
	color: #6CE0F1;
}

nav ul li.achievements:hover {
	background-color: #FB4485;
}

#achievements h2:first-letter {
	color: #FB4485;
}

nav ul li.skills:hover {
	background-color: #FDA333;
}

#skills h2:first-letter {
	color: #FDA333;
}

nav ul li.education:hover {
	background-color: #C2E15F;
}

#education h2:first-letter {
	color: #C2E15F;
}

.nav>li>a:focus, .nav>li>a:hover {
  text-decoration: none;
  background-color: inherit;
}

.navbar .nav, .navbar .nav > li {
  float:none;
  display:inline-block;
  *display:inline; /* ie7 fix */
  *zoom:1; /* hasLayout ie7 trigger */
  vertical-align: top;
}

a {
	font-family: "HelveticaNeue-Light", Helvetica, sans-serif;
	color: #333333;
	text-decoration: none;
}

a:focus, a:hover {
  color: #333333;
}

#sidebar {
	font-family: "HelveticaNeue-Light", Helvetica, sans-serif;
	text-align: right;
}

.contact-item {
	padding: 8px 0;
}

.home:before {
	content: '\f409';
}

.phone:before {
	content: '\f437';
}

.mail:before {
	content: '\f410';
}

.github:before {
	content: '\f200';
}

.wordpress:before {
	content: '\f205';
}

#experience h2 {
	margin-top: 12px;
}

.location {
	text-align: right;
}

.description {
	padding-left: 0;
}

.project {
	margin-top: 15px;
}

#education {
	margin-bottom: 100px;
}

.concentration {
	margin-top: 10px;
}

.concentration div:first-child {
	font-family: "HelveticaNeue-LightItalic", Helvetica, sans-serif;
}

footer {
	background-color: #333333;
	min-height: 50px;
}