body {
	font-family: "HelveticaNeue", Helvetica, sans-serif;
	text-align: left;
	color: #333333;
	font-size: 16px;
	-moz-box-sizing: border-box;
  box-sizing: border-box;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

h1 {
	font-size: 3em;
	font-family: "HelveticaNeue-CondensedBold", Helvetica, sans-serif;
}

h2 {
	font-size: 2.2em;
	font-family: "HelveticaNeue-CondensedBold", Helvetica, sans-serif;
}

h3 {
	font-size: 1.6em;
	font-family: "HelveticaNeue-CondensedBold", Helvetica, sans-serif;
}

h4 {
	font-size: 1em;
	font-family: "HelveticaNeue-BoldItalic", Helvetica, sans-serif;
}

h5 {
	font-size: .9em;
	font-family: "HelveticaNeue-Bold", Helvetica, sans-serif;
}

h6 {
	font-size: .9em;
	font-family: "HelveticaNeue-CondensedBold", Helvetica, sans-serif;
	color: #999999;
}

ul.noindent {
    margin: 0;
    padding: 0;
}

ul {
	list-style: none;
}

a {
	font-family: "HelveticaNeue-Light", Helvetica, sans-serif;
	color: #333333;
	text-decoration: none;
}

a:focus, a:hover {
  color: #333333;
}

/******************************************************************************/

/*Header stylings*/

header {
	background-color: #333333;
	color: white;
	text-align: center;
	font-size: 2em;
}

header a, header a:hover, header a:focus {
	color: white;
}

header #name {
	padding: 55px 0 40px;
}

header #name .first {
	font-family: "HelveticaNeue-Light", Helvetica, sans-serif;
}

header #name .middle {
	font-family: "HelveticaNeue-UltraLight", Helvetica, sans-serif;
}

header #name .last {
	font-family: "HelveticaNeue-CondensedBold", Helvetica, sans-serif;
}

header #social-icons ul li{
	display: inline-block;
	padding-bottom: 25px;
}

header #social-icons ul li .genericon {
	font-size: 1em;
}

/******************************************************************************/

/*Full screen nav stylings*/

nav {
	text-align: center;
	font-size: 1.5em;
	background-color: white;
}

nav a, nav a:hover, nav a:focus {
	font-family: "HelveticaNeue-CondensedBold", Helvetica, sans-serif;
	text-decoration: none;
}

nav ul li {
	display: inline-block;
	padding-bottom: 5px;
}

nav ul li.skills {
	border-top: 4px solid #6CE0F1;
}

nav ul li.skills:hover {
	background-color: #6CE0F1;
}
nav ul li.experience {
	border-top: 4px solid #FB4485;
}

nav ul li.experience:hover {
	background-color: #FB4485;
}

nav ul li.achievements {
	border-top: 4px solid #FDA333;
}

nav ul li.achievements:hover {
	background-color: #FDA333;
}

nav ul li.education {
	border-top: 4px solid #C2E15F;
}

nav ul li.education:hover {
	background-color: #C2E15F;
}

nav ul li.contactme {
	border-top: 4px solid #D3A4F9;
}

nav ul li.contactme:hover {
	background-color: #D3A4F9;
}

.nav>li>a:focus, .nav>li>a:hover {
  text-decoration: none;
  background-color: inherit;
}

/******************************************************************************/

/*Fixes for mobile menu toggle*/

.navbar-header .genericon {
	padding-left: 0;
}

.navbar-toggle {
	background-color: #333333;
	color: white;
}

.navbar {
	margin-bottom: 0;
}

/******************************************************************************/

/*Sticks menu to top of screen when scrolling*/

.fixed {
	background-color: white;
	position:fixed;
	top:0px;
	right:0px;
	left:0px;
	z-index:999;
	border-bottom: 1px solid #777777;
}

.navbar .nav, .navbar .nav > li {
  float:none;
  display:inline-block;
  *display:inline; /* ie7 fix */
  *zoom:1; /* hasLayout ie7 trigger */
  vertical-align: top;
}

/******************************************************************************/

#main #skills ul, #main #experience ul, #main #achievements ul {
	list-style: circle;
}

/******************************************************************************/

/*First letter colorings for headings*/

#skills h2:first-letter {
	color: #6CE0F1;
}

#experience h2:first-letter {
	color: #FB4485;
}

#achievements h2:first-letter {
	color: #FDA333;
}

#education h2:first-letter {
	color: #C2E15F;
}

/******************************************************************************/

/*Alignments for main content areas*/

.location {
	text-align: right;
}

.description {
	padding-left: 0;
}

.pull-bottom div:last-child {
	margin-top: 19px;
}

.project {
	margin-top: 15px;
}

#education {
	margin-bottom: 75px;
}

.concentration {
	margin-top: 10px;
}

.concentration div:first-child {
	font-family: "HelveticaNeue-LightItalic", Helvetica, sans-serif;
}

/******************************************************************************/

/*Footer styles*/

footer {
	background-color: #333333;
	min-height: 70px;
	color: white;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

footer .genericon {
	padding-left: 0;
	padding-right: 5px;
}

footer ul li {
	padding-top: 15px;
}

footer a, footer a:hover, footer a:focus {
	color: white;
}

/******************************************************************************/

@media screen and (max-width: 768px) {

	/*Fix menu toggle stuff*/

	.navbar, .navbar-header, .navbar-header button {
		max-height: 45px;
		display: block;
		width: 100%;
		margin: 0;
		border: none;
		border-radius: 0;
	}

	.navbar {
		border-top: 1px white solid;
		font-family: "HelveticaNeue-CondensedBold", Helvetica, sans-serif;
		z-index: 1;
	}

	.navbar-nav, .navbar-nav ul, .navbar-nav li {
		position: relative;
		width: 100%;
		display: block;
		background-color: white;
	}

	.navbar .container {
	  padding-right: 0;
	  padding-left: 0;
	}

	.container>.navbar-header {
  	margin-right: 0;
  	margin-left: 0;
	}

	.navbar-nav li {
		margin-bottom: 7px;
	}

	header {
		font-size: 1em;
		max-height: 145px;
	}

	header #name {
		padding: 1em 0;
	}

	header #social-icons ul li .genericon{
		font-size: 1.2em;
	}
}

@media screen and (max-width: 992px) {

	#sidebar {
		display: none;
	}

	.description {
		padding-left: 15px;
	}
}
